<div class="header_content">
	<div class="header_row main clearfix">
		<a class="header_logo" href="http://shop.nubia.com/"><img src="../images/header/nubia-logo-inverse-x2-cn.png"></a>
		<ul class="header_list">
			<li><a href="/index.html" class="header_list_click">商城</a></li>
			<li><a href="javascript:void(0)" class="header_list_click">手机</a>
				<div class="head_hidden">
					<div class="head_hidden_next">
						<a href="javascript:void(0)"><i class="iconfont icon-jiantou-copy-copy"></i></a></div>
					<div class="head_hidden_prev">
						<a href="javascript:void(0)"><i class="iconfont icon-jiantou-copy"></i></a></div>
					<div class="head_hidden_content">
						<div class="head_hidden_content_all clearfix">
							<!-- <a class="head_hidden_content_phoneBox" href="http://www.nubia.com/nubiaz17lite">
									<img src="../../images/header/15014923554.png">
							<p>Z17</p> -->
							<!-- 使用arttemplate来渲染数据 -->
							<script type="text/html" id="prod_temp">
								<% 
								    for(var i=0;i<header_produ.length;i++){
										var prod=header_produ[i];
								%>
									<a class="head_hidden_content_phoneBox" href=<%=prod.href%>>
										<img src=<%=prod.imgSrc%>>
										<p><%= prod.name%></p>
									</a>
								<% 
								    }
								%>
							</script>
							<!-- 使用arttemplate来渲染数据 -->
						</a>
						</div>
					</div>
				</div>
			</li>
			<li><a href="javascript:void(0)" class="header_list_click">配件</a>
				<div class="head_hidden">
					<div class="head_hidden_next1">
						<a href="javascript:void(0)"><i class="iconfont icon-jiantou-copy-copy"></i></a></div>
					<div class="head_hidden_prev1">
						<a href="javascript:void(0)"><i class="iconfont icon-jiantou-copy"></i></a></div>
					<div class="head_hidden_content">
						<div class="head_hidden_content_all2 clearfix">
							<a href="" class="head_hidden_content_phoneBox">
								<i class="iconfont icon-shoujike1"></i>
								<p>保护壳</p>
							</a>
							<a href="" class="head_hidden_content_phoneBox">
								<i class="iconfont icon-shoujike"></i>
								<p>皮套</p>
							</a>
							<a href="" class="head_hidden_content_phoneBox">
								<i class="iconfont icon-shoujimo"></i>
								<p>贴膜</p>
							</a>
							<a href="" class="head_hidden_content_phoneBox">
								<i class="iconfont icon-erji"></i>
								<p>耳机</p>
							</a>
							<a href="" class="head_hidden_content_phoneBox">
								<i class="iconfont icon-xiangqingusb"></i>
								<p>充电线</p>
							</a>
							<a href="" class="head_hidden_content_phoneBox">
								<i class="iconfont icon-zhoubianchanpin"></i>
								<p>周边产品</p>
							</a>
							<a href="" class="head_hidden_content_phoneBox head_hidden_more">
								<i class="iconfont icon-iconfont45"></i>
								<p>查看所有配件</p>
							</a>
						</div>
					</div>
				</div>
			</li>
			<li><a href="javascript:void(0)" class="header_list_click">摄影</a>
				<div class="head_hidden">
					<div class="head_hidden_content">
						<a href="" class="head_hidden_content_phoneBox">
							<i><img src="../images/header/NeoVision-logo.png"></i>
							<p>努比亚摄影引擎</p>
						</a>
						<a href="" class="head_hidden_content_phoneBox">
							<i class="iconfont icon-iconset0149"></i>
							<p>摄影长廊</p>
						</a>
						<a href="" class="head_hidden_content_phoneBox">
							<i class="iconfont icon-bofang"></i>
							<p>延时摄影</p>
						</a>
						<a href="" class="head_hidden_content_phoneBox">
							<i class="iconfont icon-shoujipaizhao"></i>
							<p>星空之约</p>
						</a>
					</div>
				</div>
			</li>
			<li><a href="http://www.nubia.com/service.php" class="header_list_click">服务</a></li>
			<li><a href="http://www.nubia.com/store.php" class="header_list_click">体验店</a></li>
			<li><a href="http://bbs.nubia.cn/" class="header_list_click">社区</a></li>
			<li><a href="javascript:void(0)" class="header_list_click">nubia UI</a>
				<div class="head_hidden">
					<div class="head_hidden_content">
						<a href="" class="head_hidden_content_phoneBox">
							<i><img src="../images/header/nubiaui-logo.png" class="head_hidden_special"></i>
							<p>nubia UI 5.0</p>
						</a>
						<a href="" class="head_hidden_content_phoneBox">
							<i class="iconfont icon-yunxiangmugongdanweixintubiao-"></i>
							<p>ROM下载</p>
						</a>
						<a href="" class="head_hidden_content_phoneBox">
							<i class="iconfont icon-duihuaqipao"></i>
							<p>UI社区</p>
						</a>
						<a href="" class="head_hidden_content_phoneBox">
							<i class="iconfont icon-yun"></i>
							<p>云服务</p>
						</a>
						<a href="" class="head_hidden_content_phoneBox">
							<i class="iconfont icon-huaban"></i>
							<p>工具</p>
						</a>
					</div>
				</div>
			</li>
		</ul>
		<div class="header_operation">
			<div class="header_log">
				<a class="loginbtn" href="javascript:void(0)">
					<i  class="iconfont icon-ren"></i>					
				</a>
				<ul class="userinfor">
						<li><a href="?"><i class="iconfont icon-cart"></i>我的购物车</a></li>
						<li><a href="?"><i class="iconfont icon-home"></i>个人中心</a></li>
						<li><a href="?"><i class="iconfont icon-gift"></i>我的订单</a></li>
						<li><a href="?"><i class="iconfont icon-qia"></i>我的优惠券</a></li>
						<li><a href="?"><i class="iconfont icon-shoucang"></i>我的收藏</a></li>
						<li><a href="?"><i class="iconfont icon-shizhong"></i>我的预约</a></li>
						<li><a href="?"><i class="iconfont icon-youjian"></i>收货地址</a></li>
						<li><a href="?" class="logout"><i class="iconfont icon-ren"></i>注销<span class="username"></span></a></li>
						<b class="sanjiao"></b>
				</ul>
			</div>
			<div class="header_cart"><a href="">购物车<i class="iconfont icon-cart"></i></a></div>
		</div>
	</div>
</div>
